div#navbar {
    display:inline-block;
    flex-direction:column;
    padding-left:15%;
    
    

  
}
button#navbarbtns:hover {
    background-color:yellow;
}

li {
   list-style-type:none;
}
a {
    text-decoration:none;
}

div.container-fluid {
    background-color:grey;
    height:15vh;
}
